.header {
    background-size: cover;
    background-position: center;
    background-image: url("../../images/header/head.jpg");


    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 36px 0 64px;
        height: 100vh;
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
        gap: 32px;
        align-items: center;
        
    }

    &__title {
        color: #fff;
        font-size: 56px;
    }
}
