* {
    margin: 0;
}

.header {
    background-size: cover;
    background-image: url(https://s3-alpha-sig.figma.com/img/2878/5a49/5151af5211ac151759fe0d0d44ea0f67?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=p0FTrLprmD-NbwfvXPz0cNkuqZGnkQOawLeB7q6PwUjcskIT71ZLB1EJRRsDEqLOsHi8KhVKQ22GnlSHZPboDeVVE6hp4tMpGsUcO0OKhMGSGss0-NCDJfuytwZZQ0hugP8fNb~dfi7nP2g6BzwcMeRHgZwpTOfO0GQg9fiYZJFPVIlU4SwtQKlRoFuKqc-qYZCZ9FOuIBdaiVL40yO-fP-wQ1m4SgKNuAW15Ttjg22DPdpy-DB9KgDp1pzsG8CZl0anTKj7awzC-TqxTLiRVVOhgHTxL2TkOn1V49cF1b7jwFsjhHTFJFp7rfwqU8Y6MJhjpr0S7f9Lr9UYrtN0lQ__);
}

.container {
    margin-inline: 120px;
}

.header_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 36px 0px 64px;
    height: 100vh;
}

.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_top-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    align-items: center;
    
}

.header_text {
    color: #fff;
    font-size: 56px;
}